/*Global style */

* {
	box-sizing: border-box;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	border: 1px solid #dedede;
	padding: 15px;
}

body{
	margin: 0;
}

.clearfix {
	clear: both;
}
img {
	max-width: 100%;
	height: auto;
}

.txt-center {
     text-align: center;
}

.btn {
	display: inline-block;
	padding: 15px 20px;
	background-color: #008b35;
	line-height: 15px;
	color: white;
	font-family: sans-serif;
	text-decoration: none;
	border-radius: 5px;
	transition: all .25s;
}
.btn:hover {
	background-color: #65b717ad;
} 

/*Header style end*/
/*Global style end */




/*Header style */
.menucontainer {
	padding-top: 10px;
}
.logo {
	float: left;
}
.userarea {
	float: right;
	padding-top: 35px;
}
.userarea a {
	display: inline-block;
	padding: 15px 20px;
	background-color: #008b35;
	line-height: 20px;
	color: white;
	font-family: sans-serif;
	text-decoration: none;
	border-radius: 5px;
	transition: all .25s;
}
.userarea a:hover {
	background-color: #65b717ad;
} 

/*Header style end*/






/*Banar style  */

.banner {
	padding-top: 15px;
	padding-bottom: 15px;
}

.banner .item {
	position: relative;
	overflow: hidden;
}
.banner .item-title {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -60px;
	background: rgb(0,0,0,.43);
	margin: 0;
	padding: 15px;
	color: white;
	transition: all .25s;
}
.banner .item:hover .item-title {
	bottom: 0;
}




/*Banar style end */









/* Menue style*/
.menu {
	width: 100%;
	display: inline-block;
	background-color: #008b35;
}
.menu ul {
	padding: 0;
	margin: 0;
}
.menu ul li {
	float: left;
	list-style: none;
	position: relative;
}

.menu li a {
	display: inline-block;
	line-height: 40px;
	padding: 0px 15px;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	transition: all 0.25s;
}
.menu li a:hover {
	background-color: #0cce56; 
	color: black;
}

.menu li>.sub-menu {
	position: absolute;
	top: 40px;
	left: 0;
	z-index: 999;
	
}
.sub-menu {
	background-color: #008b35;
	width: 130px;
	display: none; 
}
.menu >ul>li:hover .sub-menu {
	display: block;
}

.sub-menu a {
	width: 100%;
}
.sub-menu >li> .sub-menu {
	top: 0;
	left: 100%;
    display: none !important;
}
.sub-menu >li:hover > .sub-menu {
	display: block !important;
}

/* Menue style end*/





/*gread style */
.row {
	margin-right: -15px;
	margin-left:  -15px;
}
.col-2 {
	width: 50%;
}
.col-3 {
	width: 33.33%;
}
.col-32 {
	width: 66.66%;
}
.col-4 {
	width: 25%;
}

.col-2,.col-3,.col-32,.col-4 {
	float: left;
	padding: 0 15px;
}

/*gread style end */





/*Post style */
.post .pots-title {
	margin: 5px 0;
}
.post .post-title+p {
	margin-top: 0;
}
.post .post-title a {
	color:black;
	display: inline-block;
	width: 100%;
	text-decoration: none;
}
.post .post-title a:hover {
color: green;
}
/*Post style end */





/* Contact us style*/


.contact-us input {
	width: 100%;
	display: inline-block;
	margin: 5px 0;
	padding: 0 10px;
	line-height: 35px;
	border: 1px solid #cdcdcd; 
}
.maps {
	margin: 15px 0;
	width: 100%;
}

/* Contact us style*/

/*Sidebar style */

.sidebar {
	padding-top: 15px;
}
.widgets {
	border:1px solid #cdcdcd;
	padding: 15px; 
}
.widgets ul {
	padding: 0;
	margin: 0;
}
.widgets li {
	list-style: none;
	margin: 0 -15px;
}
.widgets li>a {
	padding: 0 15px;
	text-decoration: none;
	color: black;
	display: inline-block;
	width: 100%;
	line-height: 35px;
	transition: all .25s;
	border-bottom: 1px solid transparent;
}
.widgets li>a:hover {
	border-bottom: 1px solid #dcdcdc;
	background-color: #6ecc91;
}
.subscribe {
	text-align: center; 
}
.subscribe input {
	width: 100%;
	display: inline-block;
	padding: 0 10px;
	line-height: 35px;
	border: 1px solid #cdcdcd; 
}
 
.subscribe .btn {
	margin-top: 10px;
}
.widgets .widgets-title {
	margin-top: 0;
}
/*Sidebar style end */

.copyright {
		background-color: #008b35;
		padding: 10px 0;
}